//.root {
//  max-width: 1280px;
//  margin: 0 auto;
//  padding: 2rem;
//  text-align: center;
//  font-family: 'Arial', sans-serif;
//  font-size: 4rem;
//  font-weight: 800;
//}
.gridWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 500px));
  place-content: center;
  gap: 10px;
  justify-content: space-around;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 4rem;
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

